* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f3f4f6;
}


.container {
  max-width: 600px;
  margin: 40px auto;
}


.task_Counter {
  margin-bottom: 15px;
  font-size: 14px;
  color: #333;
}


.input_Name {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  background-color:white;
  color:black;
}


.add_Exrercise {
  width: 150px;
  padding: 10px;
  background: #22c55e;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.add_Exrercise:hover {
  background: #16a34a;
}


.filter {
  margin: 25px 0 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.filter_Name {
  padding: 8px;
  border: 1px solid #aaa;
  border-radius: 6px;
    background-color:white;
  color:black;
}


.list {
  list-style: none;
}


.exercise-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  background: white;
}


.exercise-box p {
  flex: 1;
  margin-left: 10px;
  color: #333;
}


.done_true {
  text-decoration: line-through;
  color: gray;
}


.checkbox {
  cursor: pointer;
}


.delete-exercise {
  background: #c52222;
  color: white;
  border: none;
  padding: 8px 18px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.2s;
}

.delete-exercise:hover {
  background: #a34a16;
}
